{% extends 'user/userlayout.html' %}
{% block content %}

<div class="card">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Summary</strong>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Book Title</th>
                                            <th scope="col">Summary</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>

{#                                            <th scope="row">{{ smry.id }}</th>#}
                                            <td>{{ smry.book_name }}</td>
                                            <td>{{ smry.summary }}</td>
{#                                            <td><a href="//{{ smry.book_name }}">Summary</a></td>#}
{#                                            <td> <a href="/deleteitem/{{ item.id }}">Delete</a> </td>#}
{#                                            <td> <a href="/pageselect/{{ item.id }}">Summary</a> </td>#}
{#                                            <td> <a href="/viewflashpage/{{ item.id }}">Flashcard</a> </td>#}

                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>












{% endblock %}