{% extends 'user/userlayout.html' %}
{% block content %}

    <div class="card">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Summary</strong>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">ID</th>
                                             <th scope="col">Book Title</th>
                                            <th scope="col">Chapter</th>
                                            <th scope="col">questions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for qstn in qstn %}
                                        <tr>

                                            <th scope="row">{{ qstn.id }}</th>
                                            <td>{{ qstn.book_name }}</td>
                                            <td>{{ qstn.chapter }}</td>
                                            <td><a href="/viewqstnchapter/{{ qstn.book_name }}">View</a></td>
{#                                            <td> <a href="/deleteitem/{{ item.id }}">Delete</a> </td>#}
{#                                            <td> <a href="/pageselect/{{ item.id }}">Summary</a> </td>#}
{#                                            <td> <a href="/viewflashpage/{{ item.id }}">Flashcard</a> </td>#}

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
{% endblock %}